$primary-font: 'Bungee', cursive;
$secondary-font: 'Roboto Mono', monospace;

:root {
  font-family: $secondary-font;
  line-height: 1.5;
  font-weight: 400;
  background-color: #FAF8F4;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' viewBox='0 0 700 700' width='700' height='700' opacity='1'%3E%3Cdefs%3E%3Cfilter id='nnnoise-filter' x='-20%25' y='-20%25' width='140%25' height='140%25' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='linearRGB'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.2' numOctaves='4' seed='15' stitchTiles='stitch' x='0%25' y='0%25' width='100%25' height='100%25' result='turbulence'%3E%3C/feTurbulence%3E%3CfeSpecularLighting surfaceScale='40' specularConstant='1.1' specularExponent='20' lighting-color='%2300a0ff' x='0%25' y='0%25' width='100%25' height='100%25' in='turbulence' result='specularLighting'%3E%3CfeDistantLight azimuth='3' elevation='152'%3E%3C/feDistantLight%3E%3C/feSpecularLighting%3E%3CfeColorMatrix type='saturate' values='0' x='0%25' y='0%25' width='100%25' height='100%25' in='specularLighting' result='colormatrix'%3E%3C/feColorMatrix%3E%3C/filter%3E%3C/defs%3E%3Crect width='700' height='700' fill='%23faf8f4'%3E%3C/rect%3E%3Crect width='700' height='700' fill='%2300a0ff' filter='url(%23nnnoise-filter)'%3E%3C/rect%3E%3C/svg%3E");
  color: #1d1d1d;
  * {
    box-sizing: border-box;
  }
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 16px 32px 32px;

  @media (max-width: 767px) {
    padding: 16px;
  }
}

// Forecast Header
.forecast__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.forecast__headline {
  font-family: 'Bungee Shade', cursive;
  position: relative;
  font-size: 48px;
  margin: 0;
  padding-bottom: 16px
}

.forecast__subheadline {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-top: 1px solid #1d1d1d;
  border-bottom: 1px solid #1d1d1d;
  padding: 4px 0;
  position: relative;

  @media (max-width: 767px) {
    font-size: 12px;
  }

  &:before,
  &:after {
    content: '';
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background-color: #1d1d1d;
    position: absolute;
  }

  &:before {
    top: -6px;
    bottom: auto;
  }

  div {
    padding: 0 8px;
  }
}

/* Forecast Main */
.forecast__main {
  .forecast__list-item {
    padding: 16px;

    .forecast__day {
      font-size: 40px;
      text-align: left;

      @media (max-width: 767px) {
        font-size: 32px;
        text-align: center;
      }

      &--desktop { 
        @media (max-width: 899px) {
          display:none; 
        }
      }

      &--mobile { 
        @media (min-width: 899px) {
          display:none; 
        }
      }
    }
  } 
  
  .forecast__temp {
    font-size: 120px;
    line-height: 0.8;
    font-family: $primary-font;

    @media (max-width: 767px) {
      font-size: 80px;
      text-align: center;
    }
  }

  .forecast__icon {
    width: 180px;
    height: 180px;
    img {
      object-fit: cover;
      width: 100%;
    }
  }
}

.forecast__main-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.forecast__summary {
  padding: 16px 16px 16px 0;
}

.forecast__bottom {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  background-color: #FFE142;
  padding: 8px 16px;
  justify-content: space-between;
  border-radius: 4px;
  gap: 32px;
  flex: 1 0 120px;
  max-width: 120px;
  margin-left: 32px;
  height: 100%;

  @media (max-width: 1023px) {
    grid-template-columns: repeat(3, 1fr);
    flex: 0 1 auto;
    max-width: none;
    height: auto;
  }

  @media (max-width: 899px) {
    margin-left: 0;
    margin-top: 16px;
  }

  span:nth-child(2) {
    font-family: $primary-font;
    @media (max-width: 767px) {
      font-size: 14px;
    }
  }
  
  span:last-child {
    font-size: 12px;
  }
}

.forecast__bottom-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  img {
    filter: brightness(0);
    width: 48px;
    height: 48px;
  }
}

.forecast__main-right {
  display: flex;
  font-size: 24px;
  flex: 1 0 400px;
  max-width: 400px;
  justify-content: flex-end;
  align-items: flex-start;

  @media (max-width: 1023px) {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex: 1 0 360px;
    max-width: 360px;
  }

  @media (max-width: 899px) {
    max-width: none;
    flex: 0 1 auto;
  }
}

.forecast__unit {
  padding-left: 16px;

  @media (max-width: 767px) {
    font-size: 16px;
  }
}

.forecast__main-container {
  display: flex;
  justify-content: space-between;

  @media (max-width: 899px) {
    flex-direction: column-reverse;
  }
}

// Forecast Weekly 
.forecast__weekly {
  padding-top: 24px;
  h2 {
    font-family: $primary-font;
    border: 1px solid #1d1d1d;
    margin: 0;
    border-bottom: 0;
    padding: 8px;
  }
}

.forecast__list {
  margin: 0;
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);

  @media (max-width: 1023px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 767px) {
    grid-template-columns: repeat(1, 1fr);
  }

  .forecast__list-item {
    display: flex;
    align-items: center;
    flex-direction: column;

    @media (max-width: 1023px) {
      padding-top: 4px;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
} 

.forecast__temp-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 8px 16px;

  @media (max-width: 1023px) {
    width: auto;
    flex-direction: column;
  }

  .forecast__temp {
    display: flex;
    flex-direction: column;
      align-items: center;
    .forecast__temp-degree {
      font-family: $primary-font;
      font-size: 24px;
    }
  }
}

.forecast__extra {
  display: flex;
  background-color: #1d1d1d;
  color: #fff;
  width: 100%;
  justify-content: space-between;
  padding: 4px 8px;

  @media (max-width: 1023px) {
    margin-top: 8px;
  } 
  
  > div {
    display: flex;
    flex-direction: column;
    align-items: center;

    span:first-child {
      font-size: 14px;
      font-family: $primary-font;
    }

    span:last-child {
      font-size: 12px;
    }
  }
}

// Forecast General
.forecast__list-item {
  border: 1px solid #444;
  padding: 16px 0px 0;
  flex: 1 0 auto;
  @media (min-width: 1024px) {
    border-left: 0;
  }

  &:first-child {
    border-left: 1px solid #444;
  }

  &:nth-child(even) {
    @media (max-width: 1023px) {
      border-left: 0;
    }

    @media (max-width: 767px) {
      border-left: 1px solid #444;
    }
  }

  .forecast__day {
    font-size: 24px;
    font-family: $primary-font;
    text-align: center;
  }
}

.forecast__icon {
  width: 128px;
  height: 128px;
  filter: grayscale(1);

  @media (max-width: 1023px) {
    width: 96px;
    height: 96px;
  }

  img {
    max-width: 100%;
  }
}